/* Common styles to all routes */

* {
    box-sizing: border-box;
}

body {
    background-color: #B0E0E6;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

.page-content {
    width: 800px;
    margin: 25px auto 75px;
}

.navigation {
    font-size: 0.75em;
    font-weight: bold;
}

.navigation a {
    text-decoration: none;
}

.features-title, .feature-title {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.features-title {
    font-size: 2.5em;
}

.feature-title {
    font-size: 1.75em;
}

.list {
    font-size: 1em;
    padding-top: 25px;
}

.list .no-content {
    width: 100%;
    text-align: center;
    padding-top: 32px;
}

.list table {
    border-collapse: collapse;
    width: 100%;
}

.list table th, .list table td {
    padding: 8px;
    border-bottom: 10px solid #B0E0E6;
}

.list table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #FFFFFF;
    background-color: #003AAA;
}

.list table td {
    color: #000000;
}

.list table td:first-child {
    width: 80%;
}

.list table th:not(:first-child), .list table td:not(:first-child) {
    text-align: center;
}

.create-button {
    margin-top: 10px;
    margin-left: 60px;
}

.action-button {
    width: 50px;
    height: 16px;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 0.625em;
    text-align: center;
    padding: 0px;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}



/* Styles for the list of features */

.list table tr.feature-entry {
    background-color: #A0D0FF;
}

a.feature-list-link:link, a.feature-list-link:visited {
    color: #000000;
    background-color: #A0D0FF;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

a.feature-list-link:hover, a.feature-list-link:active {
    background-color: #80B0DD;
}

a.feature-list-link {
    padding: 8px;
}



/* Styles for the list of tests in a feature */

.list table tr.test-undefined {
    background-color: #AAAAAA;
}

.list table tr.test-passed {
    background-color: #88FF88;
}

.list table tr.test-failed {
    background-color: #FF8888;
}


/* Styles for the log window */

.log-window {
    border: 2px solid #CCCCCC;
    background-color: #AAAAAA;
    color: #444444;
    width: 90%;
    margin: 20px auto 0px;
    padding: 4px;
    border-radius: 8px;
    transition-property: opacity background-color border-color color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.log-window.log-log {
    background-color: #CCCCCC;
    border-color: #AAAAAA;
    color: #444444;
}

.log-window.log-success {
    background-color: #AAFFAA;
    border-color: #66FF66;
    color: #006600;
}

.log-window.log-failure {
    background-color: #FFAAAA;
    border-color: #FF6666;
    color: #660000;
}

.log-window.show-log {
    visibility: visible;
    opacity: 1;
}

.log-window:not(.show-log) {
    visibility: hidden;
    opacity: 0;
}

.log-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
    margin-right: 4px;
}

.log-window:hover .log-message {
    white-space: normal;
    overflow: visible;
}

.hide-log-button {
    color: #000000;
    text-align: right;
    font-size: 0.75em;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
}


/* Styles for the dialog windows */

.dialog-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(176,224,230,0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-overlay.is-shown {
    display: flex;
}

.dialog-overlay:not(.is-shown) {
    display: none;
}

.dialog {
    width: 600px;
    height: 150px;
    background-color: #80B0DD;
    border: 2px solid #003AAA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.dialog-title {
    font-weight: bold;
    text-align: center;
}

.dialog-content input {
    width: 100%;
}

.dialog-buttons {
    text-align: right;
}
